.typeahead-suggestion-box {
	position: absolute;
	z-index: 1000;
	box-sizing: border-box;				
	display: none;	
	
}
.typeahead-suggestion-inner-box{	
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;	
	border-radius: 0px 0px 15px 15px;
	box-shadow: 5px 5px 3px grey;
}

.typeahead-suggestion-box.active{
	display: table-cell;
}

[typeahead-selection-id].active , [typeahead-selection-id]:HOVER{
	background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}

[typeahead-selection-id]:LAST-CHILD {
	border-radius: 0px 0px 15px 15px;
}

.typeahead-item {
	padding: 3px 10px;
}

