.typeahead-suggestion-box{
	position: absolute;
	z-index: 1000;
	background-color: white;
	box-sizing: border-box;
	box-shadow: 5px 5px 3px grey;
			
	display: none;	
}
.typeahead-suggestion-inner-box{
	padding: 10px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #F60;
}

.typeahead-suggestion-box.active{
	display: block;
}

[typeahead-selection-id].active {
	background-color: blue;
}